<div class="row myrow">
  <h2 class="white-text">Total: ${{commafy total}}</h2>
{{#each shoppingCart.items as |item|}}
  <div class="col m6">
    <div class="card medium enabled">
      <div class="card-image waves-effect waves-block waves-light square">
        <img class="activator" src={{item.image}}>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{item.itemname}}<i class="material-icons right more">more_vert</i></span>
        <p>{{item.timestamp}}</p>
        <a class="material-icons right add" {{action 'remove' item}}>remove_shopping_cart</a>
      </div>
      <div class="card-reveal mycolor">
        <span class="card-title grey-text text-darken-4">{{item.itemname}}<i class="material-icons right">close</i></span>
        <p>{{item.description}}</p>
        <p>${{item.price}}</p>
        <a class="material-icons right add" {{action 'remove' item}}>remove_shopping_cart</a>
      </div>
    </div>
  </div>
{{/each}}
</div>
